Repository NikitaP2001/hep-benchmark-suite: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_logstash_image, build_elasticsearch_image, build_suite_prior_image, python_supported_versions, YAML_lint

Path conditions:
  build_logstash_image: any of: docker-images/logstash/*
  build_elasticsearch_image: any of: docker-images/es-extractor/*
  build_suite_prior_image: any of: docker-images/hep-benchmark-suite/Dockerfile-cc7
  python_supported_versions: any of: **/*.py, bin/*
  YAML_lint: any of: **/*.yaml, **/*.yml

[BMK-1415] Include ref to the HEPiX official documentation and GGUS
  README.md
Due: none

[BMK-1416] add plugin configuration in all bash examples
  examples/example_generator/example_template.sh
  examples/example_generator/use_cases/hepscore/run_HEPscore.cfg
  examples/example_generator/use_cases/multiple_benchmarks/run_multiple_bmks.cfg
  examples/example_generator/use_cases/run_DB12.cfg
  examples/example_generator/use_cases/spec/run_HS06_32bits.cfg
  examples/example_generator/use_cases/spec/run_HS06_64bits.cfg
  examples/example_generator/use_cases/spec/run_SPECCPU2017_cpp.cfg
  examples/example_generator/use_cases/spec/run_SPECCPU2017_intrate.cfg
  examples/hepscore/run_HEPscore-slim_on_grid.sh
  examples/hepscore/run_HEPscore.sh
  examples/hepscore/run_HEPscore_atlas.sh
  examples/hepscore/run_HEPscore_configurable_ncores.sh
  examples/multiple_benchmarks/run_multiple_bmks.sh
  examples/run_DB12.sh
  examples/spec/run_HS06_32bits.sh
  examples/spec/run_HS06_64bits.sh
  examples/spec/run_SPECCPU2017_cpp.sh
  examples/spec/run_SPECCPU2017_intrate.sh
  gitlab-ci/test/test_examples.yml
Due: YAML_lint

Update examples
  .gitlab-ci.yml
  examples/example_generator/example_template.sh
  examples/hepscore/run_HEPscore-slim_on_grid.sh
  examples/hepscore/run_HEPscore.sh
  examples/hepscore/run_HEPscore_atlas.sh
  examples/multiple_benchmarks/run_multiple_bmks.sh
  examples/run_DB12.sh
  examples/spec/run_HS06_32bits.sh
  examples/spec/run_HS06_64bits.sh
  examples/spec/run_SPECCPU2017_cpp.sh
  examples/spec/run_SPECCPU2017_intrate.sh
  gitlab-ci/test/parsing_and_injection.yml
Due: YAML_lint

Update example_template.sh
  examples/example_generator/example_template.sh
  examples/hepscore/run_HEPscore-slim_on_grid.sh
  examples/hepscore/run_HEPscore.sh
  examples/hepscore/run_HEPscore_atlas.sh
  examples/multiple_benchmarks/run_multiple_bmks.sh
  examples/run_DB12.sh
  examples/spec/run_HS06_32bits.sh
  examples/spec/run_HS06_64bits.sh
  examples/spec/run_SPECCPU2017_cpp.sh
  examples/spec/run_SPECCPU2017_intrate.sh
Due: none

improve test of examples and benchmarks. Fix examples for plugins
  examples/example_generator/example_template.sh
  examples/example_generator/use_cases/hepscore/run_HEPscore-slim_on_grid.cfg
  examples/example_generator/use_cases/hepscore/run_HEPscore.cfg
  examples/example_generator/use_cases/hepscore/run_HEPscore_atlas.cfg
  examples/example_generator/use_cases/multiple_benchmarks/run_multiple_bmks.cfg
  examples/example_generator/use_cases/run_DB12.cfg
  examples/example_generator/use_cases/spec/run_HS06_32bits.cfg
  examples/example_generator/use_cases/spec/run_HS06_64bits.cfg
  examples/example_generator/use_cases/spec/run_SPECCPU2017_cpp.cfg
  examples/example_generator/use_cases/spec/run_SPECCPU2017_intrate.cfg
  examples/hepscore/run_HEPscore-slim_on_grid.sh
  examples/hepscore/run_HEPscore.sh
  examples/hepscore/run_HEPscore_atlas.sh
  examples/multiple_benchmarks/run_multiple_bmks.sh
  examples/run_DB12.sh
  examples/spec/run_HS06_32bits.sh
  examples/spec/run_HS06_64bits.sh
  examples/spec/run_SPECCPU2017_cpp.sh
  examples/spec/run_SPECCPU2017_intrate.sh
  gitlab-ci/test/run_benchmarks.sh
  gitlab-ci/test/run_benchmarks.yml
  gitlab-ci/test/test_examples.sh
  gitlab-ci/test/test_examples.yml
  tests/dump_json_keys.py
Due: python_supported_versions, YAML_lint

Update run_HEPscore_configurable_ncores.sh
  examples/hepscore/run_HEPscore_configurable_ncores.sh
Due: none

fix documentation
  examples/example_generator/example_template.sh
  examples/hepscore/run_HEPscore-slim_on_grid.sh
  examples/hepscore/run_HEPscore.sh
  examples/hepscore/run_HEPscore_atlas.sh
  examples/hepscore/run_HEPscore_configurable_ncores.sh
  examples/multiple_benchmarks/run_multiple_bmks.sh
  examples/run_DB12.sh
  examples/spec/run_HS06_32bits.sh
  examples/spec/run_HS06_64bits.sh
  examples/spec/run_SPECCPU2017_cpp.sh
  examples/spec/run_SPECCPU2017_intrate.sh
Due: none

BMK-1360
  hepbenchmarksuite/plugins/extractor.py
Due: python_supported_versions

[BMK-1389] Always pass ncores to HEPscore
  gitlab-ci/test/run_benchmarks.yml
  hepbenchmarksuite/benchmarks.py
  requirements.txt
Due: python_supported_versions, YAML_lint

BMK-1409: fix multi-arch sif pulling
  examples/populate-cache.py
Due: python_supported_versions

BMK-353 add check for hardware config values during preflight
  examples/example_generator/use_cases/hepscore/run_HEPscore-slim_on_grid.cfg
  examples/example_generator/use_cases/hepscore/run_HEPscore.cfg
  examples/example_generator/use_cases/hepscore/run_HEPscore_atlas.cfg
  examples/example_generator/use_cases/multiple_benchmarks/run_multiple_bmks.cfg
  examples/example_generator/use_cases/run_DB12.cfg
  examples/example_generator/use_cases/spec/run_HS06_32bits.cfg
  examples/example_generator/use_cases/spec/run_HS06_64bits.cfg
  examples/example_generator/use_cases/spec/run_SPECCPU2017_cpp.cfg
  examples/example_generator/use_cases/spec/run_SPECCPU2017_intrate.cfg
  hepbenchmarksuite/config/benchmarks.yml
  hepbenchmarksuite/preflight.py
  tests/ci/benchmarks.yml
Due: python_supported_versions, YAML_lint

Update __version__.py
  hepbenchmarksuite/__version__.py
Due: python_supported_versions

[BMK-353] Build missing examples
  examples/hepscore/run_HEPscore-slim_on_grid.sh
  examples/hepscore/run_HEPscore.sh
  examples/hepscore/run_HEPscore_atlas.sh
  examples/multiple_benchmarks/run_multiple_bmks.sh
  examples/run_DB12.sh
  examples/spec/run_HS06_32bits.sh
  examples/spec/run_HS06_64bits.sh
  examples/spec/run_SPECCPU2017_cpp.sh
  examples/spec/run_SPECCPU2017_intrate.sh
Due: none

nvidia-smi and rocm-smi metadata
  hepbenchmarksuite/__version__.py
  hepbenchmarksuite/plugins/extractor.py
  test-requirements.txt
  tests/data/nvidia-smi.sample
  tests/data/rocm-smi.json
  tests/pytests/test_hwmetadata.py
Due: python_supported_versions

[BMK-1424] Extended metric definition for plugins - Collecting multiple metrics
  gitlab-ci/test/run_benchmarks.sh
  hepbenchmarksuite/plugins/metric_definition.py
  hepbenchmarksuite/plugins/registry/cpu_frequency_plugin.py
  hepbenchmarksuite/plugins/timeseries.py
  requirements.txt
  setup.py
  test-requirements.txt
  tests/pytests/plugins/test_metric_definition.py
  tests/pytests/plugins/test_timeseries.py
Due: python_supported_versions

[BMK-1465] fix decode errors
  hepbenchmarksuite/__version__.py
  hepbenchmarksuite/utils.py
Due: python_supported_versions

Move hardware requirements configuration to be sub category of global config
  examples/example_generator/use_cases/hepscore/run_HEPscore-slim_on_grid.cfg
  examples/example_generator/use_cases/hepscore/run_HEPscore.cfg
  examples/example_generator/use_cases/hepscore/run_HEPscore_atlas.cfg
  examples/example_generator/use_cases/multiple_benchmarks/run_multiple_bmks.cfg
  examples/example_generator/use_cases/run_DB12.cfg
  examples/example_generator/use_cases/spec/run_HS06_32bits.cfg
  examples/example_generator/use_cases/spec/run_HS06_64bits.cfg
  examples/example_generator/use_cases/spec/run_SPECCPU2017_cpp.cfg
  examples/example_generator/use_cases/spec/run_SPECCPU2017_intrate.cfg
  examples/hepscore/run_HEPscore-slim_on_grid.sh
  examples/hepscore/run_HEPscore.sh
  examples/hepscore/run_HEPscore_atlas.sh
  examples/hepscore/run_HEPscore_configurable_ncores.sh
  examples/multiple_benchmarks/run_multiple_bmks.sh
  examples/run_DB12.sh
  examples/spec/run_HS06_32bits.sh
  examples/spec/run_HS06_64bits.sh
  examples/spec/run_SPECCPU2017_cpp.sh
  examples/spec/run_SPECCPU2017_intrate.sh
  gitlab-ci/build/examples.yml
  hepbenchmarksuite/config/benchmarks.yml
  hepbenchmarksuite/preflight.py
  tests/ci/benchmarks.yml
  tests/ci/wrong_conf.yml
Due: python_supported_versions, YAML_lint

fix: use np.median for median
  hepbenchmarksuite/__version__.py
  hepbenchmarksuite/plugins/timeseries.py
Due: python_supported_versions

[BMK-1474] Don't pass ncores to HEPscore < v1.6rc2
  examples/hepscore/run_HEPscore-slim_on_grid.sh
  examples/hepscore/run_HEPscore.sh
  examples/hepscore/run_HEPscore_atlas.sh
  examples/multiple_benchmarks/run_multiple_bmks.sh
  hepbenchmarksuite/__version__.py
  hepbenchmarksuite/benchmarks.py
Due: python_supported_versions

[BMK-1483] Disabled setting aggregations as a list
  hepbenchmarksuite/plugins/metric_definition.py
  tests/pytests/plugins/test_metric_definition.py
Due: python_supported_versions

BMK-913 - Catch malformed user configs
  hepbenchmarksuite/bmkrun.py
  tests/pytests/test_bmkrun.py
Due: python_supported_versions

BMK-1486 add python3.11 to tests, fix gpu test
  gitlab-ci/test/components.yml
  hepbenchmarksuite/plugins/extractor.py
  test-requirements.txt
  tests/pytests/test_hwmetadata.py
  tox.ini
Due: python_supported_versions, YAML_lint

[BMK-1523] Replace hep-workloads-builder/dind with a local Alma9 image with docker installed
  docker-images/docker/Dockerfile
  gitlab-ci/build/images.yml
  gitlab-ci/build/wheels.yml
  gitlab-ci/test/run_benchmarks.sh
  gitlab-ci/test/run_benchmarks.yml
  gitlab-ci/test/test_examples.yml
  gitlab-ci/test/test_wheels.yml
Due: YAML_lint

[BMK-1509] Update docker-compose image to Alma 9
  .gitlab-ci.yml
  docker-images/docker-compose/Dockerfile
  docker-images/docker/Dockerfile
  gitlab-ci/build/images.yml
  gitlab-ci/test/parsing_and_injection.yml
  gitlab-ci/test/run_benchmarks.yml
  gitlab-ci/test/test_examples.yml
Due: YAML_lint

[BMK-1505] - Updated frequency plugin functionality
  examples/example_generator/example_template.sh
  examples/hepscore/run_HEPscore-slim_on_grid.sh
  examples/hepscore/run_HEPscore.sh
  examples/hepscore/run_HEPscore_atlas.sh
  examples/hepscore/run_HEPscore_configurable_ncores.sh
  examples/multiple_benchmarks/run_multiple_bmks.sh
  examples/run_DB12.sh
  examples/spec/run_HS06_32bits.sh
  examples/spec/run_HS06_64bits.sh
  examples/spec/run_SPECCPU2017_cpp.sh
  examples/spec/run_SPECCPU2017_intrate.sh
  hepbenchmarksuite/plugins/README.md
  hepbenchmarksuite/plugins/registry/command_executor.py
  hepbenchmarksuite/utils.py
Due: python_supported_versions

Bump suite version
  hepbenchmarksuite/__version__.py
Due: python_supported_versions

[BMK-1511] Comment out prior image build
  docker-images/hep-benchmark-suite/Dockerfile-cc7
  gitlab-ci/build/images.yml
Due: build_suite_prior_image, YAML_lint

BMK-1473
  hepbenchmarksuite/plugins/extractor.py
  requirements.txt
  test-requirements.txt
  tests/pytests/test_hwmetadata.py
Due: python_supported_versions

Fix quality
  hepbenchmarksuite/plugins/extractor.py
Due: python_supported_versions

including distro in setup, increase rc
  hepbenchmarksuite/__version__.py
  setup.py
Due: python_supported_versions

bmk-774 update memory metadata collection
  hepbenchmarksuite/plugins/extractor.py
Due: python_supported_versions

[EXTERNAL] Lint fixes for shell scripts
  examples/example_generator/example_template.sh
  examples/example_generator/use_cases/hepscore/run_HEPscore-slim_on_grid.cfg
  examples/example_generator/use_cases/hepscore/run_HEPscore.cfg
  examples/example_generator/use_cases/hepscore/run_HEPscore_atlas.cfg
  examples/example_generator/use_cases/multiple_benchmarks/run_multiple_bmks.cfg
  examples/example_generator/use_cases/run_DB12.cfg
  examples/example_generator/use_cases/spec/run_HS06_32bits.cfg
  examples/example_generator/use_cases/spec/run_HS06_64bits.cfg
  examples/example_generator/use_cases/spec/run_SPECCPU2017_cpp.cfg
  examples/example_generator/use_cases/spec/run_SPECCPU2017_intrate.cfg
  examples/hepscore/run_HEPscore-slim_on_grid.sh
  examples/hepscore/run_HEPscore.sh
  examples/hepscore/run_HEPscore_atlas.sh
  examples/hepscore/run_HEPscore_configurable_ncores.sh
  examples/multiple_benchmarks/run_multiple_bmks.sh
  examples/run_DB12.sh
  examples/spec/run_HS06_32bits.sh
  examples/spec/run_HS06_64bits.sh
  examples/spec/run_SPECCPU2017_cpp.sh
  examples/spec/run_SPECCPU2017_intrate.sh
  gitlab-ci/build/examples.yml
  gitlab-ci/test/components.yml
Due: YAML_lint

Resolve BMK-1519 handle CommandExecutor failures
  hepbenchmarksuite/__version__.py
  hepbenchmarksuite/plugins/registry/command_executor.py
  tests/pytests/plugins/test_command_executor_1.py
  tests/pytests/plugins/test_command_executor_2.py
Due: python_supported_versions

[BMK-1522] properly convert math.nan into json null
  hepbenchmarksuite/__version__.py
  hepbenchmarksuite/hepbenchmarksuite.py
Due: python_supported_versions

[BMK-1531] Added aggregation flexible quantile definition & modifiable statistics plugin definition
  hepbenchmarksuite/__version__.py
  hepbenchmarksuite/plugins/metric_definition.py
  hepbenchmarksuite/plugins/registry/command_executor.py
  hepbenchmarksuite/plugins/timeseries.py
  tests/pytests/plugins/test_metric_definition.py
  tests/pytests/plugins/test_timeseries.py
Due: python_supported_versions

[BMK-1546] Added the total/valid functionality and make sure that statistics are being calcualte from valid
  hepbenchmarksuite/__version__.py
  hepbenchmarksuite/plugins/timeseries.py
  tests/pytests/plugins/test_timeseries.py
Due: python_supported_versions

[BMK-262] OpenSearch plugin
  gitlab-ci/test/parsing_and_injection.yml
  hepbenchmarksuite/bmkrun.py
  hepbenchmarksuite/bmksend.py
  hepbenchmarksuite/plugins/send_opensearch.py
  requirements.txt
  setup.py
  test-requirements.txt
  tests/data/opensearch_config_sample.yaml
  tests/query_os.py
Due: python_supported_versions, YAML_lint
