Repository NikitaP2001/hep-benchmark-suite: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_logstash_image, build_elasticsearch_image, build_suite_prior_image, python_supported_versions, YAML_lint

build_logstash_image:
  image:
    name: gitlab-registry.cern.ch/ci-tools/docker-image-builder
    entrypoint:
    - ''
  script:
  - echo "{\"auths\":{\"$CI_REGISTRY\":{\"username\":\"$CI_REGISTRY_USER\",\"password\":\"$CI_REGISTRY_PASSWORD\"}}}" > /kaniko/.docker/config.json
  ...

build_elasticsearch_image:
  image:
    name: gitlab-registry.cern.ch/ci-tools/docker-image-builder
    entrypoint:
    - ''
  script:
  - echo "{\"auths\":{\"$CI_REGISTRY\":{\"username\":\"$CI_REGISTRY_USER\",\"password\":\"$CI_REGISTRY_PASSWORD\"}}}" > /kaniko/.docker/config.json
  ...

build_suite_prior_image:
  image:
    name: gitlab-registry.cern.ch/ci-tools/docker-image-builder
    entrypoint:
    - ''
  script:
  - echo "{\"auths\":{\"$CI_REGISTRY\":{\"username\":\"$CI_REGISTRY_USER\",\"password\":\"$CI_REGISTRY_PASSWORD\"}}}" > /kaniko/.docker/config.json
  ...

python_supported_versions:
  stage: test-components
  dependencies: []
  script:
  - yum install -y -q python3-pip
  - python3 -m pip install -U pip vermin
  - vermin -vv .

YAML_lint:
  stage: test-components
  dependencies: []
  script:
  - yum install -y -q yamllint
  - yamllint -c tests/ci/yamllint_conf.yml hepbenchmarksuite/config/benchmarks.yml

[BMK-1232] Add generic stateful plugin "CommandExecutor"
  doc/images/plugin-architecture-class-diagram.png
  examples/plugins/catalogue.json
  hepbenchmarksuite/db12.py
  hepbenchmarksuite/hepbenchmarksuite.py
  hepbenchmarksuite/plugins/README.md
  hepbenchmarksuite/plugins/metric_definition.py
  hepbenchmarksuite/plugins/registry/command_executor.py
  hepbenchmarksuite/plugins/registry/cpu_frequency_plugin.py
  hepbenchmarksuite/plugins/registry/gpu_power_consumption_plugin.py
  hepbenchmarksuite/plugins/registry/interval_plugin.py
  hepbenchmarksuite/plugins/registry/power_consumption_plugin.py
  hepbenchmarksuite/plugins/registry/timeseries_collector_plugin.py
  hepbenchmarksuite/plugins/registry/timeseries_plugin.py
  hepbenchmarksuite/plugins/registry/used_memory_plugin.py
  hepbenchmarksuite/plugins/runner.py
  hepbenchmarksuite/plugins/stateful_plugin.py
  hepbenchmarksuite/plugins/timeseries.py
  hepbenchmarksuite/utils.py
  tests/plugins/dummy_timeseries_collector_plugin.py
  tests/plugins/dummy_timeseries_plugin.py
  tests/plugins/test_catalogue.py
  tests/plugins/test_command_executor.py
  tests/plugins/test_cpu_frequency_plugin.py
  tests/plugins/test_gpu_power_consumption_plugin.py
  tests/plugins/test_integration_executors.py
  tests/plugins/test_metric_definition.py
  tests/plugins/test_power_consumption_plugin.py
  tests/plugins/test_runner.py
  tests/plugins/test_stateful_plugin.py
  tests/plugins/test_timeseries.py
  tests/plugins/test_timeseries_plugin.py
  tests/plugins/test_used_memory_plugin.py
  tests/test_utils.py
Due: python_supported_versions

Remove lingering unimplemented check_lock method
  hepbenchmarksuite/hepbenchmarksuite.py
Due: python_supported_versions

[BMK-1268] Always take options into account in examples
  examples/example_generator/example_template.sh
  examples/example_generator/use_cases/hepscore/run_HEPscore-Run3WL_atlas.cfg
  examples/example_generator/use_cases/hepscore/run_HEPscore-slim_on_grid.cfg
  examples/example_generator/use_cases/hepscore/run_HEPscore.cfg
  examples/example_generator/use_cases/hepscore/run_HEPscore_atlas.cfg
  examples/example_generator/use_cases/multiple_benchmarks/run_multiple_bmks.cfg
  examples/example_generator/use_cases/run_DB12.cfg
  examples/example_generator/use_cases/spec/run_HS06_32bits.cfg
  examples/example_generator/use_cases/spec/run_HS06_64bits.cfg
  examples/example_generator/use_cases/spec/run_SPECCPU2017_cpp.cfg
  examples/example_generator/use_cases/spec/run_SPECCPU2017_intrate.cfg
  examples/hepscore/run_HEPscore-Run3WL_atlas.sh
  examples/hepscore/run_HEPscore-slim_on_grid.sh
  examples/hepscore/run_HEPscore.sh
  examples/hepscore/run_HEPscore_atlas.sh
  examples/hepscore/run_HEPscore_configurable_ncores.sh
  examples/multiple_benchmarks/run_multiple_bmks.sh
  examples/run_DB12.sh
  examples/spec/run_HS06_32bits.sh
  examples/spec/run_HS06_64bits.sh
  examples/spec/run_SPECCPU2017_cpp.sh
  examples/spec/run_SPECCPU2017_intrate.sh
Due: none

[BMK-1181] Refactor CI + add SAST
  .gitignore
  .gitlab-ci.yml
  gitlab-ci/build/examples.yml
  gitlab-ci/build/images.yml
  gitlab-ci/build/wheels.yml
  gitlab-ci/publish_package.yml
  gitlab-ci/test/benchmarks.yml
  gitlab-ci/test/components.yml
  gitlab-ci/test/parsing_&_injection.yml
Due: YAML_lint

[BMK-1274] Log plugin status messages in debug mode
  .gitignore
  docker-images/es-extractor/Dockerfile
  hepbenchmarksuite/hepbenchmarksuite.py
  hepbenchmarksuite/plugins/construction/config_builder.py
  hepbenchmarksuite/plugins/construction/dynamic_metadata_provider.py
  hepbenchmarksuite/plugins/construction/metadata_provider.py
  hepbenchmarksuite/plugins/extractor.py
  hepbenchmarksuite/plugins/metric_definition.py
  hepbenchmarksuite/plugins/registry/command_executor.py
  hepbenchmarksuite/plugins/registry/interval_plugin.py
  hepbenchmarksuite/plugins/runner.py
  hepbenchmarksuite/plugins/stateful_plugin.py
  hepbenchmarksuite/plugins/timeseries.py
  tests/plugins/test_builder.py
  tests/plugins/test_metadata_provider.py
  tests/plugins/test_runner.py
  tests/test_suite.py
  tests/test_utils.py
Due: build_elasticsearch_image, python_supported_versions

[BMK-1272] Configuration check of CommandExecutor metrics
  hepbenchmarksuite/plugins/metric_definition.py
  tests/plugins/test_metric_definition.py
Due: python_supported_versions

[BMK-1271] Fixed propagation of error message in case of invalid commands
  hepbenchmarksuite/utils.py
  tests/test_utils.py
Due: python_supported_versions

[BMK-1257] Added configuration of pre- and post-stage duration
  bin/bmkrun
  hepbenchmarksuite/config/benchmarks.yml
  hepbenchmarksuite/hepbenchmarksuite.py
  tests/test_suite.py
Due: python_supported_versions, YAML_lint

[BMK-504] Updated AMQ-to-ES test for latest suite version
  .gitlab-ci.yml
  docker-images/docker-compose/Dockerfile
  gitlab-ci/build/images.yml
  gitlab-ci/test/parsing_and_injection.yml
  tests/docker_compose_amq_to_es/ci_run_script.sh
  tests/docker_compose_amq_to_es/docker-compose.yml
  tests/qa_send_queue.bat
Due: YAML_lint

[BMK-1262] Build wheels RHEL 7 & 8 compatible + test them through CI
  .gitlab-ci.yml
  examples/example_generator/example_template.sh
  examples/example_generator/use_cases/hepscore/run_HEPscore-Run3WL_atlas.cfg
  examples/hepscore/run_HEPscore-Run3WL_atlas.sh
  examples/hepscore/run_HEPscore-slim_on_grid.sh
  examples/hepscore/run_HEPscore.sh
  examples/hepscore/run_HEPscore_atlas.sh
  examples/multiple_benchmarks/run_multiple_bmks.sh
  examples/run_DB12.sh
  examples/spec/run_HS06_32bits.sh
  examples/spec/run_HS06_64bits.sh
  examples/spec/run_SPECCPU2017_cpp.sh
  examples/spec/run_SPECCPU2017_intrate.sh
  gitlab-ci/build/wheels.yml
  gitlab-ci/test/benchmarks.yml
  gitlab-ci/test/components.yml
  gitlab-ci/test/wheels.yml
  hepbenchmarksuite/benchmarks.py
Due: python_supported_versions, YAML_lint

Update rc version
  hepbenchmarksuite/__version__.py
Due: python_supported_versions

[BMK-1279] Ensure benchmark CI jobs fail if the bmk fails
  gitlab-ci/test/benchmarks.yml
Due: YAML_lint

[BMK-1340] Set images explicitly for all jobs
  gitlab-ci/build/examples.yml
  gitlab-ci/publish_package.yml
  gitlab-ci/test/benchmarks.yml
  gitlab-ci/test/components.yml
  gitlab-ci/test/wheels.yml
Due: YAML_lint

Set purpose on DB12 example script
  examples/example_generator/use_cases/run_DB12.cfg
  examples/run_DB12.sh
Due: none

Move apptainer tests back to cc7
  gitlab-ci/test/benchmarks.yml
Due: YAML_lint

Run benchmarks only with x86_64 machines
  gitlab-ci/test/benchmarks.yml
Due: YAML_lint

[BMK-363] Pass ncores to hepscore
  gitlab-ci/test/benchmarks.yml
  hepbenchmarksuite/benchmarks.py
Due: python_supported_versions, YAML_lint

Retry all CI jobs by default
  .gitlab-ci.yml
Due: YAML_lint

[BMK-1357] Fix code quality job (fix pylint version)
  gitlab-ci/test/components.yml
Due: YAML_lint

[BMK-1356] Declare registry variables before config file creation
  examples/example_generator/example_template.sh
  examples/hepscore/run_HEPscore-slim_on_grid.sh
  examples/hepscore/run_HEPscore.sh
  examples/hepscore/run_HEPscore_atlas.sh
  examples/hepscore/run_HEPscore_configurable_ncores.sh
  examples/multiple_benchmarks/run_multiple_bmks.sh
  examples/run_DB12.sh
  examples/spec/run_HS06_32bits.sh
  examples/spec/run_HS06_64bits.sh
  examples/spec/run_SPECCPU2017_cpp.sh
  examples/spec/run_SPECCPU2017_intrate.sh
Due: none

[BMK-1358] Fix badges
  README.md
  gitlab-ci/test/components.yml
Due: YAML_lint

Do not run SPEC in QA's MR
  gitlab-ci/test/benchmarks.yml
Due: YAML_lint

[BMK-1391] Set default HS version for SPEC tests
  gitlab-ci/test/benchmarks.yml
Due: YAML_lint

[BMK-1280] Fix dev wheels deletion and migrate it to ALMA 8
  gitlab-ci/build/images.yml
  gitlab-ci/build/wheels.yml
  gitlab-ci/config.yml
  gitlab-ci/publish_package.yml
  gitlab-ci/test/wheels.yml
Due: YAML_lint

[BMK-1377-1378-1379-1383] Check description
  gitlab-ci/test/benchmarks.sh
  gitlab-ci/test/benchmarks.yml
  gitlab-ci/test/components.yml
  gitlab-ci/test/wheels.yml
  hepbenchmarksuite/benchmarks.py
  tests/ci/benchmarks.yml
  tests/ci/hepscore_v1.5.yaml
  tests/ci/hepscore_v1.6rc4.yaml
Due: python_supported_versions, YAML_lint

Plugin configuration
  examples/hepscore/run_HEPscore_configurable_ncores.sh
Due: none

[BMK-1391] Review November changes
  gitlab-ci/test/benchmarks.sh
  gitlab-ci/test/benchmarks.yml
  gitlab-ci/test/components.yml
  gitlab-ci/test/wheels.yml
  hepbenchmarksuite/benchmarks.py
  tests/ci/benchmarks.yml
  tests/ci/hepscore.yaml
  tests/ci/hepscore_v1.6rc4.yaml
Due: python_supported_versions, YAML_lint

added fallback to read system information directly from sysfs for non-privileged users
  hepbenchmarksuite/plugins/extractor.py
Due: python_supported_versions

[BMK-1291] CPU frequency plugin
  hepbenchmarksuite/plugins/registry/cpu_frequency_plugin.py
Due: python_supported_versions

[BMK-1357] Revert pylint's fixed version in code quality job
  gitlab-ci/test/components.yml
Due: YAML_lint

[BMK-1288] Documentation of "pre" and "post" stage configuration
  hepbenchmarksuite/plugins/README.md
Due: none

[BMK-1351] Improve code quality
  .gitignore
  gitlab-ci/build/wheels.yml
  gitlab-ci/test/benchmarks.yml
  gitlab-ci/test/components.yml
  hepbenchmarksuite/benchmarks.py
  hepbenchmarksuite/hepbenchmarksuite.py
  hepbenchmarksuite/plugins/extractor.py
  hepbenchmarksuite/plugins/registry/cpu_frequency_plugin.py
  hepbenchmarksuite/plugins/registry/test_plugin.py
  hepbenchmarksuite/utils.py
  tests/plugins/test_command_executor.py
  tests/test_hwmetadata.py
  tests/test_utils.py
Due: python_supported_versions, YAML_lint

Update outdated suite version
  hepbenchmarksuite/__version__.py
Due: python_supported_versions

[BMK-1351] Try all available BIOS parsers
  hepbenchmarksuite/plugins/extractor.py
Due: python_supported_versions

[BMK-1249] Change utils' error logs to warnings
  hepbenchmarksuite/utils.py
Due: python_supported_versions

BMK-1396 add command lines to configure default plugins
  gitlab-ci/test/components.yml
  gitlab-ci/test/run_benchmarks.yml
  hepbenchmarksuite/bmk_show_metadata.py
  hepbenchmarksuite/bmkrun.py
  hepbenchmarksuite/bmksend.py
  hepbenchmarksuite/config/plugins_catalogue.json
  hepbenchmarksuite/config/plugins_catalogue.yml
  setup.py
  test-requirements.txt
  tests/ci/wrong_conf.yml
  tests/plugins/test_catalogue.py
  tests/test_bmkrun.py
  tox.ini
Due: python_supported_versions, YAML_lint

[BMK-1185] Make preflight disk space check core conscious
  hepbenchmarksuite/preflight.py
Due: python_supported_versions

[BMK-600] Fix hardware extractor bug causing the collection to fail when some fields were empty
  hepbenchmarksuite/plugins/extractor.py
  hepbenchmarksuite/utils.py
  tests/data/STORAGE.sample.10
  tests/data/STORAGE.sample.11
  tests/data/STORAGE.sample.12
  tests/data/STORAGE.sample.2
  tests/data/STORAGE.sample.3
  tests/data/STORAGE.sample.4
  tests/data/STORAGE.sample.5
  tests/data/STORAGE.sample.6
  tests/data/STORAGE.sample.7
  tests/data/STORAGE.sample.8
  tests/data/STORAGE.sample.9
  tests/test_hwmetadata.py
Due: python_supported_versions

[BMK-1411] Fix publishing in bmkrun
  hepbenchmarksuite/__version__.py
  hepbenchmarksuite/bmkrun.py
Due: python_supported_versions

Path conditions:
  build_logstash_image: any of: docker-images/logstash/*
  build_elasticsearch_image: any of: docker-images/es-extractor/*
  build_suite_prior_image: any of: docker-images/hep-benchmark-suite/Dockerfile-cc7
  python_supported_versions: any of: **/*.py, bin/*
  YAML_lint: any of: **/*.yaml, **/*.yml
